#logo {
  width: 45px;
  height: auto;
  cursor: pointer;
}

#navHeading {
  font-size: 150%;
  color: black;
  margin-left: 1.5%;
  margin-right: 4%;
}

.navbar {
  background-color: #bdf0f5;
}


a:hover {
  background-color: #1C1C1C;
  color: white;
}

.navbarColor{
  cursor: pointer;
  color: black;
}

