<nav class="navbar navbar-expand-md">
  <div class="logoMargin">
    <span class="navbar-brand">

    </span>
  </div>
  <span id="navHeading" class="navbar-text" data-toggle="tooltip">
    <b>Schließfach-Verwaltung</b>
  </span>
  <ul class="navbar-nav ml-auto">
    <li>
      <a class="nav-link navbarColor" routerLink="/overview" id="overview" role="button"
         data-toggle="tooltip"
         title="forward to overview page" aria-haspopup="true"
         aria-expanded="false">
        Fachübersicht
      </a>
    </li>
    <li>
      <a class="nav-link navbarColor" routerLink="/search" id="search" role="button"
         data-toggle="tooltip"
         title="forward to search page" aria-haspopup="true"
         aria-expanded="false">
        Gegenstands-Suche
      </a>
    </li>
    <li>
      <a class="nav-link navbarColor" routerLink="/AusleihenUndAbgaben" id="AusleihenUndAbgaben" role="button"
         data-toggle="tooltip"
         title="forward to AusleihenUndAbgaben page" aria-haspopup="true"
         aria-expanded="false">
        Ausleihen/ Abgaben
      </a>
    </li>
    <li>
      <a class="nav-link navbarColor" routerLink="/studentGegenstand" id="studentGegenstand" role="button"
         data-toggle="tooltip"
         title="forward to studentGegenstand page" aria-haspopup="true"
         aria-expanded="false">
        Studentübersicht
      </a>
    </li>
    <li>
      <a class="nav-link navbarColor" routerLink="/pool" id="pool" role="button"
         data-toggle="tooltip"
         title="forward to pool page" aria-haspopup="true"
         aria-expanded="false">
        Pool für Gegenstände
      </a>
    </li>
  </ul>
</nav>

