.wrapper{
  margin: 50px;
  text-align: center;
}
.clickable:hover{
  cursor: pointer;
  color: white;
  font-weight: normal;
  background-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black}
.material-icons {
  vertical-align: middle;
}
