<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th class="clickable" (click)="sortByStudentNameExecution()">
      <div style="text-align: center">Name&nbsp;&nbsp;&nbsp;
        <span class="material-icons">sort</span>
      </div>
    </th>
    <th>
      <div style="text-align: center">Handynummer</div>
    </th>
    <th class="clickable">
      <div style="text-align: center">Datum&nbsp;&nbsp;&nbsp;
        <span class="material-icons">sort</span>
      </div>
    </th>
    <th class="clickable">
      <div style="text-align: center" (click)="sortByFachNameExecution()">Fachname&nbsp;&nbsp;&nbsp;
        <span class="material-icons">sort</span>
      </div>
    </th>
    <th></th>
    <th>
      <div style="text-align: center">Gegenstände</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr id="row" *ngFor="let ausleihenAbgeben of ausleihenAbgebenList, let i = index">
    <td>{{ausleihenAbgeben.student.studentName}}</td>
    <td>{{ausleihenAbgeben.student.handyNummer}}</td>
    <td>{{ausleihenAbgeben.datum}}</td>
    <td>{{ausleihenAbgeben.fach.fachName}}</td>
    <ng-container *ngIf="!ausleihenAbgeben.abgeben">
      <td>Ausleihen</td>
    </ng-container>
    <ng-container *ngIf="ausleihenAbgeben.abgeben">
      <td>Zurückgeben</td>
    </ng-container>
    <td>
      <table class="table table-striped table-bordered table-hover table-condensed"
             *ngFor="let gegenstand of ausleihenAbgeben.gegenstandList">
        <tr>
          <td>{{gegenstand.gegenstandName}}</td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
