<div class="wrapper">
  <div>
    <mat-form-field [style.width.px]=500>
      <input matInput autocomplete="off" (input)="filterPool()"
             id="search" [(ngModel)]="suche"
             name="search" type="text" placeholder="Suche Gegenstand">
    </mat-form-field>
  </div>
  <br>
  <div style="display: inline-block; margin-top: 3%;  width: 350px; background-color: #ebebeb;
       border-width: 3px; border-style: solid; border-color: black; text-align: center">
    <div style="margin: 2%; border-width: 2.5px; border-style: solid; border-color: black;">
      <h4 style="margin: 2%">Pool</h4>
    </div>
    <div style="margin: 2%" *ngFor="let option of filteredOptions | async">
      {{option}}
    </div>
  </div>
</div>
