.wrapper {
  text-align: center;
  margin: 40px;
}
.material-icons {
  vertical-align: middle;
}
.wrapper {
  text-align: center;
}

.selected {
  border: 3px solid #1C1C1C !important;
}
.unselected{
  border: 3px solid white !important;
}

.deleteDivs:hover{
  background-color: #1C1C1C;
  color: white;
  cursor: pointer;
}

.deleteDivs{
  background-color: white;
  color: #1C1C1C;
  cursor: pointer;
}

.ausgeliehen {
  background-color: mediumspringgreen;
}

.abgegeben {
  background-color: orangered;
}

.ausgeliehen2 {
  color: red;
}

.addOrDeleteOrEditDiv {
  width: 45.3%;
  margin-top: 0.7%;
  margin-bottom: 1.4%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0.4%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.ausleihenAbgebenDiv{
  width: 45%;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.7%;
  margin-bottom: 1.4%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0.5%;
}

.ausleihenAbgebenDiv:hover{
  cursor: pointer;
  background-color: white;
}

#addDiv:hover {
  background-color: mediumspringgreen;
}

#deleteDiv:hover {
  background-color: orangered;
}
