<div class="wrapper">
  <div>
    <mat-form-field [style.width.px]=500>
      <input matInput autocomplete="off" (input)="filterPool()"
             id="search" [(ngModel)]="suche"
             name="search" type="text" placeholder="Suche Gegenstand">
    </mat-form-field>
  </div>
  <br>
  <div style="display: inline-block; margin-top: 3%;  width: 350px; background-color: #ebebeb;
       border-width: 3px; border-style: solid; border-color: black; text-align: center;">
    <div style="margin: 2%; border-width: 2.5px; border-style: solid; border-color: black;">
      <h4 style="margin: 2%">Pool</h4>
    </div>
    <div id="addDiv" class="addOrDeleteOrEditDiv">
      <div>
        <mat-icon>add_box</mat-icon>
      </div>
    </div>
    <div id="deleteDiv" class="addOrDeleteOrEditDiv">
      <div>
        <mat-icon>delete</mat-icon>
      </div>
    </div>
    <div style="margin: 2%" *ngFor="let option of filteredOptions | async">
      {{option}}
    </div>
    <div class="ausleihenAbgebenDiv">
      <div>
        Ausleihen
      </div>
    </div>
    <div class="ausleihenAbgebenDiv">
      <div >
        Rückgabe
      </div>
    </div>
  </div>
</div>

<!--
<div style="text-align:center; border-color: black; border-style: solid; border-width: 2.5px;
       margin-top:2%; margin-left: 2%; margin-right: 2%; width: 96%;">
    <div style="margin:2%"><h4>Fach&nbsp;{{fach.fachName}}</h4></div>
  </div>

  <ng-container *ngIf="fach.leer">
    <div style="margin:2%" *ngFor="let gegenstand of fach.gegenstandList, let indexGegenstand = index">
      <ng-container *ngIf="indexGegenstand === 0">
        <div [ngClass]="{'ausgeliehen2' : gegenstand.ausgeliehen}"
             style="font-size: 19px">{{gegenstand.gegenstandName}}&nbsp;&nbsp;
        </div>
      </ng-container>
      <ng-container *ngIf="indexGegenstand !== 0">
        <div style="margin:2%" [ngClass]="{'ausgeliehen2' : gegenstand.ausgeliehen}">
          {{gegenstand.gegenstandName}}
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!fach.leer">
    <div *ngFor="let gegenstand of fach.gegenstandList, let indexGegenstand = index"
         style="margin:2%">
      <ng-container *ngIf="indexGegenstand === 0">
        <div [ngClass]="{'ausgeliehen2' : gegenstand.ausgeliehen}"
             style="font-size: 19px">{{gegenstand.gegenstandName}}&nbsp;&nbsp;
          <span>({{gegenstand.menge}})</span>
        </div>
      </ng-container>
      <ng-container *ngIf="indexGegenstand !== 0">
        <div [ngClass]="{'ausgeliehen2' : gegenstand.ausgeliehen}">
          {{gegenstand.gegenstandName}}&nbsp;&nbsp;<span>({{gegenstand.menge}}) </span>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="ausleihenAbgebenDiv">
    <div style="padding: 1%"
         (click)="ausleihenOpen(fachIndex)">
      Ausleihen
    </div>
  </div>
  <div class="ausleihenAbgebenDiv">
    <div style="padding: 1%" (click)="openMarkMvpDialog(fachIndex)">
      <span class="material-icons">stars</span>
    </div>
  </div>
  <div class="ausleihenAbgebenDiv">
    <div style="padding: 1%"
         (click)="abgebenOpen(fachIndex)">
      Rückgabe
    </div>
  </div>-->
