<div style="text-align: center; margin: 100px">
  <div>
    <ng-container *ngIf="aktuelleGegenstandFachStringList">
      <mat-form-field [style.width.px]=500>
        <input matInput autocomplete="off" (input)="updateAktuelleGeg()"
               id="formCategory" [(ngModel)]="suche"
               name="formCategory" type="text" placeholder="Suche Gegenstand" [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>
  </div>
</div>
