.addOrDeleteDiv {
  width: 50%;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
}

.addOrDeleteDiv:hover {
  cursor: pointer;
}

#addDiv:hover {
  background-color: mediumspringgreen;
}

#deleteDiv:hover {
  background-color: orangered;
}

.gegenstandHoverDiv:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 102%;
}

.ausleihenDiv:hover {
  background-color: white;
}

#wrapper {
  text-align: center;
}

#wrapper2 {
  text-align: center;
}

.ausgeliehen {
  background-color: mediumspringgreen;
}

.ausgeliehen2 {
  color: red;
}

.abgegeben {
  background-color: orangered;
}

.selected {
  border: 4px solid black;
}
.selected2 {
  border: 3px solid black;
}
.material-icons {
  vertical-align: middle;
}
