.addOrDeleteOrEditDiv {
  width: 29.3%;
  margin-top: 1.5%;
  margin-bot: 2.4%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  display: inline-block;
}

.ausleihenAbgebenDiv{
  width: 29%;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.ausleihenAbgebenDiv:hover{
  cursor: pointer;
  background-color: white;
}

.addOrDeleteOrEditDiv:hover {
  cursor: pointer;
}

#addDiv:hover {
  background-color: mediumspringgreen;
}

#deleteDiv:hover {
  background-color: orangered;
}

#categoryDiv:hover{
  background-color: white;
}



.gegenstandHoverDiv{
  margin: 0px;
}

.ausleihenDiv:hover {
  background-color: white;
}

.ausleihenDiv{
  display: inline-block;
  float: left;
  width: 50%;
}

.abgebenDiv{
  display: inline-block;
  float: left;
  width: 50%;
}

.wrapper {
  text-align: center;
}

.ausgeliehen {
  background-color: mediumspringgreen;
}

.ausgeliehen2 {
  color: red;
}

.abgegeben {
  background-color: orangered;
}

.selected {
  border: 4px solid #1C1C1C;
}
.selected2 {
  border: 3px solid #1C1C1C;
}
.material-icons {
  vertical-align: middle;
}


.categoryDivs{
  background-color: #ebebeb;
  border: 3px solid #1C1C1C;
  height: 40px;
  width: 150px;
  color: black;
  padding: 3.5%;
}

.addDeleteDivs{
  margin-top: 12px;
  margin-right: 30%;
  margin-left: 30%;
  background-color: #ebebeb;
  border: 3px solid #1C1C1C;
  height: 40px;
  width: 150px; padding: 5px
}

.addDeleteDivs:hover{
  background-color: #1C1C1C;
  color: white;
  cursor: pointer;
}

.categoryDivs:hover{
  background-color: #1C1C1C;
  color: white;
  cursor: pointer;
}

.toggleBackgroundColor{
  background-color: #1C1C1C;
  color: white;
}

.categorySelected{
  border: 3px solid #1C1C1C;
}

.hoverItIn:hover{
  background-color: #1C1C1C;
  color: white;
  cursor: pointer;
}
